body {
    background-color: #151515;
    font-family: "Poppins";
    color: white;
    height: max-content;
}

html {
    scroll-behavior: smooth;
}

div {
    margin: 0;
    padding: 0;
    max-width: 99%;
}

@media only screen and (min-width: 950px)
{

/* Title Section */
.title {
    position: relative;
    left: 10rem;
    top: 2rem;
    max-width: 300px;
}

p {
    font-size: 15px;
}

.paragraph {
    position: relative;
    left: 10rem;
    top: 5rem;
    max-width: 300px;
}

.paragraph p {
    max-width: 300px;
}

.jobTitle {
    position: relative;
    left: 10rem;
    top: 10rem;
    font-size: 100px;
    max-width: 70%;
    z-index: 10;
}

.self_image {
    position: absolute;
    left: 50vw;
    top: 5rem;
    z-index: 10;
    filter: brightness(85%);
}

.smallTitle {
    padding: 5px;
}

.icon {
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

.pad {
    padding: 10px;
}

img {
    max-width: 100%;
    filter: grayscale(100%);
}


/* Languages */

#languageHeader {
    position: relative;
    top: 12em
}


#languages {
    position: relative;
    top: 25em;
}

table {
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #5c5c5c;
    text-align: left;
    padding: 15px;
}

td {
    background-color: #a4a4a4;
}

td:nth-child(1)
{
    background-color: #151515;
}


#about p {
    color: white;
}

#about {
    max-width: 20vw;
    max-height: 30em;
    position: relative;
    left: 70vw;
    padding: 15px;
    font-weight: lighter;
}











/* Projects Section */
#projects {
    position: relative;
    top: 20rem;
    left: 10rem;
    width: max-content;
}

button {
    width: 15rem;
    height: 3rem;
    border-radius: 15px;
    font-size: larger;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.tiny {
    padding: 5px;
    font-size: 12px;
}


/* Grid and Flex */

.box {
    border: 2px solid #A7A7A7;
    width: 30vw;
    height: 200px;
    font-size: 20px;
}


.flex-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 5em;
    position: relative;
    top: 20em;
}

.flex-container div {
    padding-top: 1em;
}

.box:last-child {
    grid-column: 3 / 4;
}

.grid-container {
    max-width: 100%;
    height: 5000px;
    display: grid;
    gap: 5em;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20em;
}


.vert-flex-cont {
    max-width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content:center;
    align-items: center;
    gap: 5em;
    position: relative;
    top: 20em;
}

.vert-flex-cont div {
    width: 1000px;
}

.button {
    width: 115px;
    height: 25px;
    background: rgb(83, 83, 83);
    text-align: center;
    border-radius: 5px;
    color: white;
    line-height: 25px;
    padding: 10px;
    position: relative;
    left: 30px;
}

#footer {
    border: 1px solid white;
    padding: 20px;
    margin: 50px 0 50px 0;
    text-align: center;
}
}

/* Phone Screens (small screens) */
@media only screen and (max-width: 950px) {
    .title {
        text-align: center;
    }

    main .paragraph {
        text-align: center;
        font-size: 0.75rem;
    }

    main img {
        width: 350px;
        height: 400px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    main .jobTitle {
        display: none;
    }

    /* Grid and Flex */

    .box {
        border: 2px solid #A7A7A7;
        width: 75vw;
        height: 200px;
        font-size:5vw;
        text-align: center;
    }

    .pad {
        font-size: 3vw;
        padding: 10px;
    }

    .icon {
        padding-right: 10px;
        padding-top: 5px;
        padding-left: 5px;
    }

    #languageHeader {
        text-align: center;
    }


    .flex-container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        gap: 1em;
    }

    .flex-container div {
        padding-top: 1em;
    }

    .box:last-child {
        grid-column: 3 / 4;
    }

    table {
        border-collapse: collapse;
    }
    
    td, th {
        border: 1px solid #5c5c5c;
        text-align: left;
        font-size: 2.8vw;
    }

    td {
        background-color: #a4a4a4;
    }

    td:nth-child(1)
    {
        background-color: #151515;
    }

    #about {
        padding: 10px;
        text-align: center;
        font-size: 3.2vw;
    }

    #projects {
        text-align: center;
    }

    .vert-flex-cont img {
        width: 100%;
        filter: grayscale(100%);
    }

    .vert-flex-cont p {
        font-size: 3.2vw;
    }

    a.button {
        height: 25px;
        background: rgb(83, 83, 83);
        text-align: center;
        border-radius: 5px;
        color: white;
        line-height: 25px;
        padding: 5px;
        position: relative;
        left: 30px;
    }
    
    #footer {
        border: 1px solid white;
        padding: 20px;
        margin: 50px 0 50px 0;
        text-align: center;
    }

    .cvButton {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 150px;
        height: 35px;
    }



}
