
:root {
        --font-style: "Poppins";
        --blue: #054670;
        --white-background: #FFFFFF;
        --image-backdrop: #F3F3F3;
}

html {
scroll-behavior: smooth;
overflow: hidden;
}

::-webkit-scrollbar {
display: none;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: var(--font-style);
height: 100vh;
margin: 0;
}

.container {
width: 100%;
height: 100%;
overflow-y: scroll;
scroll-padding-top: 100px;
scroll-behavior: smooth;
}

section {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
background-color: var(--white-background);
}



/* Navigation */
nav {
        display: flex;
        flex-direction: row;
        background-color: var(--white-background);
        padding-top: 10px;
}

nav div {
        display: flex;
        width: 100%;
        justify-content: space-around;
}

nav a {
        border-radius: 15px;
        text-decoration: none;
        color: black;
        padding: 15px;
}

nav a:hover {
        background-color: var(--blue);
        color: var(--white-background)
}


/* Home page */

.section1 .flex-row, .section2 .flex-row {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid white;
}

.section1 h1 {
        font-size: 3.8rem;
        font-weight: 400;
}

.section1 h3 {
        font-weight: 200;
        width: 75%;
}

.section1 button, .section2 button {
        font-family: var(--font-style);
        background-color: var(--blue);
        color: white;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 15px;
        font-size: 16px;
}

.section1 button:hover, .section2 button:hover {
        cursor: pointer;
        background-color: var(--image-backdrop);
        color: var(--blue)
}

.section1 span {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
}

.section1 span:nth-child(2) {
        align-items: center;
}

.background-image {
display: inline-block;
background-color: var(--image-backdrop);
margin: 0;
padding: 0;
max-width: max-content; /* Set the max width to the intrinsic width of the content */
border-radius: 15px;
}


.background-image img {
display: block;
margin: 0;
border-radius: 15px;
}

.icon-row a:hover {
       cursor: pointer; 
}

#in-touch:hover, #exit:hover {
        cursor: pointer;
}

button a {
        text-decoration: none;
        color: white;
}
    
    

/* Work Experience */

.list-languages {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-around;
        background-color: var(--blue);
}

.list-languages img {
        animation: left-to-right linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 110%;
}

#work div span * {
        animation: fade-in linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
}

.header {
        animation: right-to-left linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 70%;
}

.desc-right, .project-description  {
        animation: down-up linear both;
        animation-timeline: view();
        animation-range: entry 25% cover 50%;
}

.image-right, .project-image {
        animation: up-down linear both;
        animation-timeline: view();
        animation-range: entry 25% cover 50%;
}

@keyframes left-to-right {
        from {
            transform: translateX(-75px);  /* Correct the property name and function */
        } 
        to {
            transform: translateX(75px);  /* Correct the property name and function */
        }
}

@keyframes right-to-left {
        from {
            transform: translateX(75px);  /* Correct the property name and function */
        } 
        to {
            transform: translateX(0);  /* Correct the property name and function */
        }
}

@keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }


@keyframes down-up {
        from {
          transform: translateY(200px);
        }
        to {
          transform: translateY(0);
        }
}

@keyframes up-down {
        from {
          transform: translateY(-200px);
        }
        to {
          transform: translateY(0);
        }
}
      
    

.section2 { background-color: var(--blue); }

.section2 .flex-row { width: 100%; }

.section2 h1 { font-size: 3.8rem; font-weight: 500; }

.section2 .flex-row span:nth-child(2) { background-color: var(--white-background); }

.section2 span {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: var(--blue);
        padding: 50px;
}

#left-span {
        color: white;
}

#right-span {
        color:black;
}


.section2 span:nth-child(2) {
        align-items: start;
}

.section2 .flex-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
}

.section2 h2 {
        font-size: 1.8rem;
        font-weight: 400;
}

.row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.col {
        display: flex;
        flex-direction: column;
        gap: 15px;
}


#date-l, #company-l {
        background-color: var(--blue);
        padding: 0;
        margin: 0;
        font-weight: 600;
}

#date-r, #company-r {
        background-color: white;
        padding: 0;
        margin: 0;
        font-weight: 600;
}

#date-l, #date-r {
        align-items: end;
}




/* Projects */

.outer-container {
        display: grid;
        grid-template-columns: repeat(25, 1fr);
        grid-template-rows: repeat(6, 1fr); /* Increase the number of rows to 6 */
    
        width: 70%;
        height: 85%;
        margin: 0 auto;
    }
    
    .project-image, .image-right, .sportZen, .deltaZeta, .weatherImage, .hoopEasy {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-width: 350px;
    }
    .project-image {
        border-radius: 20px;
        grid-column: 1 / span 11;
        grid-row: 2 / span 4; 
        z-index: 2;
        background-image: url('./images/chatroom.png');
    }
    
    .image-right {
        border-radius: 20px;
        grid-column: 14 / span 12;
        grid-row: 2 / span 4; 
        z-index: 2;
        background-image: url('./images/chatroom.png');
    }
    
    .sportZen {
    background-image: url('./images/SportZen.png');
    }

    .deltaZeta {
        background-image: url('./images/deltaZeta.png');
    }

    .weatherImage {
        background-image: url('./images/weather.png');
    }

    .hoopEasy {
        background-image: url('./images/hoopEasy.png');
    }
    
    .clearML {
        background-image: url('./images/clearML.png');
    }
    .desc-right {
        border: 1px solid var(--green-background);
        border-radius: 20px;
        background-color: var(--green-background);
        grid-column: 1 / span 15;
        grid-row: 1 / span 6; 
        z-index: 1;
        padding: 15%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    
        background-color: var(--blue);
        color: white;
    }
    
    .project-description {
        border: 1px solid var(--green-background);
        border-radius: 20px;
        background-color: var(--green-background);
        grid-column: 11 / span 15;
        grid-row: 1 / span 6; 
        z-index: 1;
        padding: 15%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        color: white;
        background-color: var(--blue);
    }

    #marketing {
        background-color: black;
        border: 10px solid #FA462F;
    }
    
    .project-description div, .desc-right div {
            display: flex;
            flex-direction: column;
            gap: 30px;
    }
    
    .project-description h1, .desc-right h1 {
            font-size: 42px;
            font-weight: 500;
    }
    
    .project-description div p, .desc-right div p {
            font-size: 1em;
            font-family: var(--b-font-style);
            line-height: 1.5;
    }
    
    .project-description div p i, .desc-right div p i {
            font-size: 16px;
    }
    
    .github-wrapper, .github-right {
        width: 100px;
        height: 40px;
        border-radius: 10px;
        background-color: var(--blue);
    
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .github-wrapper:hover {
        cursor: pointer;
        background-color: black;
    }
    
    .github-wrapper a {
        text-decoration: none;
        color: white;
        
        margin: 0;
        padding: 0;
    }
    
    .github-right {
            background-color: white;
            color: black;
    }
    
    .github-right a {
            text-decoration: none;
            color: black
    }
    
    .github-right:hover {
            cursor: pointer;
    }


/* About Me */
#grid-section {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        padding: 50px;
        margin-bottom: 25px;
    }

    .grid-div {
        border: 2px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 25px;

        animation: fade-in linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 25%;
    }

    #div1, #div2, #div3, #div4 {
        background-color: var(--blue);
        color: white;
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #div4 {
        background-color: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("./images/dunk.JPG");
    }

