
/*

To whom it may concern,

I am sorry for how poorly I once wrote this css.
Eventually I will need to update my personal website for the better, and I will deal with it then. 

Until then, we shall be amused by the length of this file.

Thanks

*/



:root {
--font-style: "Poppins";
--blue: #054670;
--white-background: #FFFFFF;
--image-backdrop: #F3F3F3;
}


::-webkit-scrollbar {
display: none;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: var(--font-style);
height: 100vh;
}

.container {
width: 100%;
height: 100%;
}

section {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100%;
background-color: var(--white-background);
}

.photo {
max-width: 500px;
border-radius: 10px;

}

#projects {
padding: 20px;
text-align: center;
width: 100%;
height: 100vh;
}

.projects-grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
margin-top: 50px;
justify-items: center; /* Horizontally center grid items */
align-items: center; /* Vertically center grid items */
}

.project-tile {
background-color: #f4f4f4;
border: 1px solid #ddd;
color: white;
border-radius: 8px;
text-align: center;
font-size: 16px;
font-weight: 500;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: transform 0.2s, box-shadow 0.2s;

/* Add fixed width and height to ensure square tiles */
width: 100%; /* Make it responsive */
max-width: 800px;
height: 400px; /* Define the height */
display: flex; /* Center content */
justify-content: end;
flex-direction: column;

}

.project-tile p {
font-size: smaller;
font-weight: 400;
}

.project-tile div {
display: flex;
flex-direction: column;
justify-content: space-around;
height: 150px;
padding: 10px;
gap: 15px;
border-radius: 5px 5px 5px 5px;
text-align: left;
background-color: var(--blue);

}

.project-tile div button {
background-color: white;
}

.project-tile div button a {
color: black;
}

.project-tile div h3 {
font-weight: 500;
}

.project-tile:hover {
transform: translateY(-5px);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-tile div span p { height: max-content; }




#ffnn {
background-image: url('./images/ffnn/xor_decision.png');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}

#hoopeasy {
background-image: url('./images/hoopEasy.png');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}

#sportzen {
background-image: url('./images/SportZen.png');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}

#chatroom {
background-image: url('./images/chatroom.png');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}

#weather {
background-image: url('./images/weather.png');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}

#movierecommend {
background-image: url('./images/movierecommend.png');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}

#teamsofmen {
background-image: url('./images/teamsofmen.jpg');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}

#histology {
background-image: url('./images/histology.png');
background-size: contain; 
background-repeat: no-repeat; 
}





/* Home page */

.flex-row { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; align-items: center;}
.ml, .fullstack, .webdev { padding: 10px; border-radius: 10px; text-align: center;}
.ml { background-color: pink; }
.fullstack { background-color: orangered; }
.webdev { background-color: green;}
.bound-text {
max-width: 60ch; /* Limit line length for readability */
margin: 50px auto; /* Center the text horizontally */
line-height: 1.6; /* Improve line spacing for readability */
}
.bound-text p { font-weight: 400; }

.section1 .flex-row{
width: 75%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 50px;
}
.section1 h1 {
font-weight: 400;
}

.section1 h3 {
font-weight: 200;
width: 75%;
}

.section1 button, .section2 button {
font-family: var(--font-style);
background-color: var(--blue);
color: white;
width: 150px;
height: 50px;
border: none;
border-radius: 15px;
}

.section1 button:hover, .section2 button:hover {
cursor: pointer;
background-color: var(--image-backdrop);
color: var(--blue)
}

.section1 span {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 30px;
}

.section1 span:nth-child(2) {
align-items: center;
}

button a {
text-decoration: none;
color: white;
}

.section1 button, .section2 button {
font-family: var(--font-style);
background-color: var(--blue);
color: white;
width: 150px;
height: 50px;
border: none;
border-radius: 15px;
}

.section1 button:hover, .section2 button:hover {
cursor: pointer;
background-color: var(--image-backdrop);
color: var(--blue)
}


@media screen and (max-width: 1000px) {
.projects-grid {
grid-template-columns: repeat(1, 1fr);
}

.job-desc, .desc-right {
font-size: smaller;
}

#grid-section {
display: flex;
flex-direction: column;
font-size: smaller;
}

.section1 .flex-row {
  flex-direction: column-reverse;
  gap: 0;
}

.photo {
  height: 300px;
  padding: 0;
}

} 