@import url("https://fonts.googleapis.com/css?family=Libre Baskerville");


:root {
    --h-font-style: "Libre Baskerville";
    --b-font-style: "Helvetica"
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: var(--b-font-style);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-padding-top: 100px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}



/* Page 1 */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;

    background-color: #EEEEEE;
}


.fixed {
    position: fixed;
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
    font-size: 25px;
    color: black;
    font-family: var(--h-font-style);
    font-weight: 100;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    z-index: 1000;
    top: 0;
}


button {
    width: 50px;
    height: 20px;
}

.section1 {
    font-size: 96px;
    font-family: var(--h-font-style);
    font-weight: 100;
    overflow-x: hidden;
}

/* Page 2 */

.extra-large {
    font-size: 42vw;
    font-family: var(--b-font-style);
    font-weight: 800;
    text-align: center;
    position: relative;
    bottom: 75px;
}

.section2 {    
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    font-size: 35px;
    font-weight: 100;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    position: relative;
    bottom: 135px;
}



/* Page 3 */
.section3 {
    font-family: var(--b-font-style);
}

.section3 div:first-child {
    font-size: 3.5vw;
    font-weight: 700;
}

.section3 div:last-child {
    font-size: 1.65vw;
    font-weight: 100;
    line-height: 165%;
}

.section3.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.section3 div {
    padding: 150px;
}

.hiddenScroll {
    opacity: 0;
    left: -90vw;
    transition: all 1s;
}

.show {
    opacity: 1;
    left: 0;
}

/* Page 4 */

/*
.section4 {
    display: flex;
    justify-content: space-between;
    scroll-snap-align: end;
    scroll-padding-top: 100px;
    font-family: var(--b-font-style);
}
  
.section4 div {
    width:100vw;
    height: 100vh;
    position: relative;
    transform: translateY(50px);
}

.section4 div:first-child {
    border-right: 1px solid black;
}


*/

.section4 {
    scroll-snap-align: end;
}

.outer-flex-container {
    display: flex;
    justify-content: space-between;
    scroll-padding-top: 100px;
    font-family: var(--b-font-style);
    margin: 10px;
    border: 2px solid black
}

.outer-flex-container div {
    width:50%;
    height: 70vh;
    position: relative;
}

#project-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
  
#project-description h2 {
    font-size: xx-large;
    font-weight: 900;
    padding: 30px
}

#project-description h4 {
    font-weight: 600;
    padding: 0 50px 0 30px;
}

#project-description p {
    font-weight: 100;
    padding: 0 50px 0 30px;

}

img {
    max-width: 100%;
    height:100%;
    object-fit: none;
    object-position: left;
}

#project-image {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.box-left {
    background-color: black;
    color: #EEEEEE;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.box-right {
    background-color: #EEEEEE;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.box-left:hover, .box-right:hover {
    cursor: pointer;
    transform: scaleX(1.25)

}

.box-left,
.box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;

}




/* Menu Animation */

.container {
    position: relative;
    animation: slideUp 0.5s ease-in-out forwards;
}

.container.down {
    animation-name: slideDown;
}


@keyframes slideDown {
    from {
        top: -190px;
    }
    to {
        top: 200px;
        transform: scale(80%);
        border-radius: 50px;
    }
}

@keyframes slideUp {
    from {
        top: 200px;
        transform: scale(80%);
        border-radius: 50px;
    }
    to {
        top: -190px;
        transform: scale(100%);
        border-radius: 0px;

    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@keyframes fade-out {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

@keyframes black-to-white {
0% {
    color: black;
    border-bottom: 1px solid black;
}
100% {
    color: white;
    filter: invert(48%) sepia(100%) saturate(0) hue-rotate(86deg) brightness(118%) contrast(119%);
    border-bottom: 1px solid white;

}
}



.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin: 0;
    position: relative;
    top: 100px;
    color: white;
    font-size: 25px;
    font-family: var(--b-font-style);
    font-weight: 100;
}

.grid h3 {
    transition: opacity 0.3s;
    opacity: 50%;
}

.grid h3:hover, #closeButton:hover {
    cursor: pointer;
    opacity: 100%;
}

.grid h3:last-child {
    grid-column-start: 3;
}

.visible {
    animation: fade-in 500ms forwards;
}

.hidden {
    animation: fade-out 500ms forwards;
}

.navbar-on {
    animation: black-to-white 500ms forwards
}

.navbar-off {
    animation: black-to-white 500ms reverse
}

#closeButton {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

#closeButton.navbar-off {
    background-image: url('./images/icons8-menu.svg');
}

#closeButton.navbar-on {
    background-image: url('./images/icons8-close.svg');
}



/* Typing Animation */

/* Help from: https://codepen.io/Pmcslarrow/pen/ZEqOoOz*/
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 7.5ch;
    animation: typing 1.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: var(--h-font-style);
    font-size: 96px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


